{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Page</title>
    <link rel="stylesheet"  href="{%  static  'style.css'  %}">
    <link rel="stylesheet" href= "static/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
<style>
.header1 {
  position: fixed;
  width: 100%;
  height: 80px;
  border: 3px solid rgb(248, 250, 252);
  box-sizing: border-box;
  background-color: #5b9aa0;
  transition: all 0.5s ease;
  overflow: hidden; 
  
}

.sidebar.active ~.header1{
    width: calc(100% -240px);
    left:240px;
}

.p1 {
  font-size: 40px;
  font-family: "Poppins" , sans-serif;
  color:aliceblue;
  
 
}


</style>
</head>
<body >
  
    <div class="header1" data-spy="affix">
    
       <div class="p1" >
        <img src="{% static 'images/clg.jpg' %}" alt="Gvp" style="width:130px;height:77px;margin-right:15px;margin-left:60px;">
        Student Academic Profile
    
      </div>
        
        
    </div>

    <!-- Navigation Bar-->
   
    <div class="sidebar" data-spy="affix" >
    
        <div class="logo_content">
          <div class ="logo">
            <i class='bx bxs-bank'></i>
          <div class="logo_name"> Results Portal</div>
          </div>
          <i class='bx bx-menu' id="btn"></i>
        </div>
        
        <ul class="nav_list" style="padding-left:1px;">
         <li>
                <a href="results#Search">
                <i class='bx bx-search'></i>
                 <span class="links_name">Search </span>
                </a>
                 <span class="tooltips">Search </span>
              </li>
         <li>
          <a href="results#Sem_results">
            <i class='bx bxs-graduation'></i>
           <span class="links_name">Semester Results</span>
          </a>
           <span class="tooltips">Sem Results </span>
         </li>
    
         <li>
          <a href="results#mid_results">
            <i class='bx bx-file-blank'></i>
           <span class="links_name">Mid Results</span>
          </a>
          <span class="tooltips"> Mid Results</span>
         </li>
         <li>
          <a href="#dashboard">
            <i class='bx bx-grid-alt'></i>
           <span class="links_name">Dashboard</span>
          </a>
           <span class="tooltips"> Dashboard</span>
         </li>
         <li>
          <a href="#Analysis">
            <i class='bx bx-line-chart'></i>
           <span class="links_name">Analysis</span>
          </a>
           <span class="tooltips"> Analysis</span>
         </li>
         <li>
          <a href="update">
            <i class='bx bx-expand-horizontal'></i>
           <span class="links_name">Update Results</span>
          </a>
           <span class="tooltips">Update Results</span>
         </li>
         <li>
          <a href="{% url 'admin:index' %}">
            <i class='bx bx-user-circle'></i>
           <span class="links_name">Admin Page</span>
          </a>
           <span class="tooltips"> Admin Page</span>
         </li>
         <li>
          <a href="/">
            <i class='bx bx-log-out'></i>
           <span class="links_name">Logout</span>
          </a>
           <span class="tooltips"> Logout</span>
         </li>
       </ul>
    </div>  


     
</div>

<script>
    let btn = document.querySelector("#btn");
    let sidebar= document.querySelector(".sidebar");
    let searchBtn= document.querySelector(".bx-search");
    btn.onclick = function(){

      sidebar.classList.toggle("active");

    }
    serachBtn.onclick=function(){

  sidebar.classList.toggle("active");

}

</script> 
{% block content %}
{% endblock %}
</body>
</html>
  